@import "../../styles/config.scss";
@import "form";

.container {
  width: auto;
  height: 400px;
  margin: auto;
  // border: 2px solid black;
  position: relative;
  transition: all 0.5s ease-in-out;
  > .form_container {
    width: 450px;
    height: 100%;
    // border: 1px solid blue;
    position: relative;
    float: left;
    overflow: hidden;

    @include medium-screen {
      float: initial;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    @include small-screen {
      width: 100%;
    }
  }
  .side_bar {
    @include flex(column, initial, center, 1rem);
    padding: 5px;
    color: white;
    text-align: center;
    width: calc(100% - 450px);
    // border: 1px solid red;
    position: relative;
    height: 100%;
    float: left;
    transition: all 0.1s ease-in-out;
    background-image: url("../../assets/sidebar/login_potrait.png"),
      url("../../assets/sidebar/signup_potrait.png");
    background-repeat: no-repeat no-repeat;
    background-size: 100% 398px, 100% 530px;

    &::after {
      content: "Login";
      color: white;
      font-size: 3rem;
      position: absolute;
      top: 08.2rem;
      right: 0;
      left: 0;
      @include medium-screen {
        display: none;
      }
    }
    &.side_bar_move {
      background-size: 0% 100%, 100% 530px;
      &::after {
        content: "Signup";
        top: 12rem;
      }
    }

    > p,
    > span {
      font-size: 1.5rem;
    }
    > button {
      width: 100%;
      height: 4rem;
      color: black;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      @include flex(row, center, center, 5px);
      font-size: 2rem;

      &:active {
        background-color: #aec2b6;
      }

      &.button_spin > svg {
        @include rotate;
      }
    }
    // Responsive

    @include medium-screen {
      float: initial;
      margin: auto;
      width: 450px;
      height: auto;
      padding: 10px 40px;
      background-size: 100% auto, 100% auto;
      background-position: center;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

      &.side_bar_move {
        background-size: 0% auto, 100% auto;
        background-position: top;
      }
    }
    @include small-screen {
      width: 100%;
    }
  }
  @include large-screen {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  @include large-screen {
    margin-top: 30px;
    width: 650px;
  }
}

.container_signup {
  height: 530px;
}

.switch_button_container {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgb(254, 215, 188);
  border-radius: 50px;
  @include flex(row, center, space-around);

  @include small-screen {
    width: 80%;
  }
}

.login_switch,
.signup_switch {
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.slider {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #d5b4b4, #ffbf9b);
  position: absolute;
  top: 20px;
  left: 75px;
  transition: all 0.5s ease-in-out;

  @include small-screen {
    left: 10%;
    width: 38%;
  }
}

.moveslider {
  left: 225px;
  @include small-screen {
    left: 52%;
  }
}

.form-section {
  width: 900px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;

  @include small-screen {
    width: 200%;
  }
}

.form-section-move {
  left: -450px;
  @include small-screen {
    left: -100%;
  }
}

.login-box,
.signup-box {
  width: 450px;
  padding: 0px 40px;

  @include small-screen {
    width: 100%;
  }
}

.login-box {
  gap: 50px;
  height: fit-content;
}

.signup-box {
  gap: 30px;
}
